:root {
  --background: #eaeaea;
  --foreground: #171717;
  --font-size-p: calc(14px + 0.390625vw);
  --font-size-span: 0.75rem;
  --font-size-h1: calc(17px + 0.390625vw);

  --main-container-color: white;
  --main-color: rgb(25, 25, 25);
  --unselected-color: grey;
  --selected-color: white;
  --main-text-color: black;
  --main-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);

  --padding-small: 9px;
  --padding-normal: 15px;
  --padding-large: 20px;
  --margin-Xsmall: 5px;
  --margin-small: 9px;
  --margin-normal: 15px;
  --margin-large: 20px;
  --border-radius-small: 5px;
  --border-radius-normal: 10px;
  --border-radius-large: 20px;

  --loading-skeleton-color: rgb(181, 180, 180);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #5c3955;
    --foreground: #131212;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.loadMessage {
  justify-content: center;
  font-size: large;
  display: flex;
  padding: 20px;
}
.mainErrorMsg {
  font-size: var(--font-size-span);
  color: red;
  margin: 8px 0px 8px 0px;
}

.submitButton {
  margin-top: var(--margin-Xsmall);
  padding: var(--padding-small);
  font-size: var(--font-size-p);
  border: 0px solid;
  background-color: var(--main-color);
  border-radius: var(--border-radius-small);
  width: 80vw;
  color: white;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--unselected-color);
  margin-top: 10px;
  z-index: 10;
}
.LoadingScreen {
  display: flex;
  height: 100vh;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
}

.ContentContainer {
  margin: var(--margin-small);
  padding: var(--padding-large);
  border-radius: var(--border-radius-large);
  box-shadow: var(--main-box-shadow);
  width: calc(100% - 18px);
  background-color: var(--main-container-color);
}
.roboto-font {
  font-family: var(--font-roboto);
}
.inter-font {
  font-family: var(--font-inter);
}
.subContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subContentContainerColumn {
  width: 80vw;
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-large);
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: aquamarine; */
}

.subContentContainerRow {
  display: flex;
  flex-direction: row;
  /* border-radius: 20px; */
  justify-content: center;
  align-items: center;
  width: 80vw;

  /* background-color: aqua; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* MEDIA QUERIE FOR MOVING COMPONENTS LEFT BECAUSE OF NAVBAR */
@media (min-width: 660px) {
  .ContentContainer {
    margin-left: 110px;
    width: calc(100% - 120px);
  }
}
