.navbarContainer {
  width: 100vw;
  height: 60px;
  background-color: var(--main-color);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  z-index: 10;
}
.AvoidGoingBelowNavBar {
  padding-bottom: 70px; /* Add padding equal to the navbar height */
  overflow-y: auto;
}

/* MEDIA QUERIE FOR MOVING COMPONENTS LEFT BECAUSE OF NAVBAR */
@media (min-width: 660px) {
  .navbarContainer {
    height: 100vh;
    width: 100px;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    padding-top: 40px;
    margin-right: 110px;
  }
}
