.customButtonContainer {
  font-size: medium;
  background-color: transparent;
  border: 0px;
  color: var(--unselected-color);
  position: relative;
}

.customButtonContainer.active {
  color: var(--selected-color);
  font-size: larger;
}

.customButtonContainer .customLogOutButton {
  color: red;
  display: flex;
  justify-content: row;
}
.symbolAndTextSpace {
  margin-left: 10px;
}

.acceptButton {
  background-color: transparent;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  border: 1px solid;
  color: rgb(167, 104, 226);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}

.rejectButton {
  background-color: transparent;
  border: 0px;
  color: grey;
  font-size: 15px;
  margin-top: 10px;
}

.iconButton {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 0px;
  font-size: 40px;
  display: flex;
  margin-left: calc((100% - 38px) / 2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.setButton {
  color: var(--main-text-color);
  background-color: transparent;
  border: 0.5px solid black;
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
  margin-top: var(--margin-small);
  font-weight: 100;
  font-size: var(--font-size-span);
}
