.tile-inner {
  width: 87px;
}

.tile-image-area {
  border: solid 5px white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 10px white;
}

.inner {
  grid-template-columns: repeat(5, 55px) !important;
}
