.Message-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: -1px;
}

.Message-subcontents {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.Message-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.Message-headings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Message-headings h4 {
  font-weight: bold;
  margin: 0;
}

.Message-headings p {
  font-weight: 100;
  font-size: 12px;
}

.Message-text {
  margin-top: 6px;
}
.Message-text-only {
  color: rgb(0, 0, 0);
  margin-left: calc(13vw + 10px); /* Avatar width + gap */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;

  width: calc(100% - 13vw - 30px); /* Adjusts to fit remaining space */
}
