.dateContainer {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  justify-content: center;
}
.dateContainerDay {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw;
  justify-content: center;
}
.dateButton {
  margin: var(--margin-Xsmall);
  height: 15vw;

  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  border: 1px solid;
  border-color: black;
  border-radius: var(--border-radius-small);
  font-weight: 300;
}
.dateButton:active,
.dateButton.active {
  background-color: black; /* Active button background color */
  color: white; /* Change text color for better visibility */
}

.selectDateTitle {
  justify-content: center;
  display: flex;
  margin: var(--margin-large);
  font-size: var(--font-size-h1);
  font-weight: 500;
}
