.requestCard {
  width: auto;
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-normal);
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  background-color: rgb(150, 216, 245);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: var(--margin-large);
}

.requestCard p {
  font-size: var(--font-size-p);
  color: var(--main-text-color);
  font-weight: 100;
}
